<%= render_partial 'top-left-corner-header' %>
<%= render_partial 'top-right-corner-header' %>

<main class="cs-pages-home">
  <h1 class="cs-pages-home__title">Convenient Service</h1>

  <p class="cs-pages-home__logo">
    <img src="/public/logo.png" width="300" alt="Convenient Service logo">
  </p>

  <p class="cs-pages-home__description">Manage complex business logic in Ruby applications using Service Objects with Results and Steps.</p>
  <p class="cs-pages-home__description">Hide technical details with Configs and Middlewares.</p>
  <p class="cs-pages-home__description">Group related code by Features with Entries.</p>

  <div class="cs-pages-home__actions">
    <%= render_partial 'button', locals: { variant: 'secondary', href: '/docs/tldr', label: 'TL;DR', target: '_self', rel: '' } %>
    <%= render_partial 'button', locals: { variant: 'secondary', href: '/docs/basics.html', label: 'User Docs', target: '_self', rel: '' } %>
    <%= render_partial 'button', locals: { variant: 'secondary', href: 'https://apidocs.convenientservice.org', label: 'API Docs', target: '_blank', rel: 'noopener noreferrer' } %>
    <%= render_partial 'button', locals: { variant: 'secondary', href: 'https://github.com/marian13/convenient_service', label: 'GitHub', target: '_blank', rel: 'noopener noreferrer' } %>
  </div>
</main>
